.game-title {
    font-size: 30px;
    position: relative;
    right: 431px;
}

.cell {
    border: 1px solid black;
    cursor: pointer;
    height: 100px;
}

.reset {
    position: relative;
    left: 115px;
    top: 50px;
}