.game-title {
    font-size: 30px;
    position: relative;
    right: 431px;
}

.container {
    width: 100px;
    margin: auto 50%;
}

.cell {
    border: 1px solid black;
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.reset {
    position: relative;
    left: 115px;
    top: 50px;
}